

    <div class="form-floating mb-3" style="margin: 5px;">
        <input #searchbarre  type="search" class="form-control" id="floatingInput" placeholder="Rechercher ..."  aria-label="Search"> 
        <label  for="floatingInput"> <mat-icon color="primary">search</mat-icon> <span> Rechercher ...</span></label>
        <a type="submit"  mat-button mat-flat-button color="primary" style="display: none;">Rechercher</a>
    </div>


    <footer>
        <i>Mode sombre - Mode Clair</i>
        <material-module></material-module>
    </footer>