<div class="d-flex flex-column flex-shrink-0 p-3">

    <div class *ngIf="user">
      <a href="#"  id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img [src]="(user.photoURL)?user.photoURL:'../../assets/undraw-illustration/profile_picture.png'" alt="" width="150" height="150" class="rounded-circle me-2"  >
      </a>

      <h3>  {{(user.displayName)?user.displayName:''}}</h3>
    </div>




 
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a routerLink="" mat-menu mat-menu-item><mat-icon>home</mat-icon> Acceuil</a>
    </li>
    <li class="nav-item">
      <a routerLink="" mat-menu mat-menu-item><mat-icon>dashboard</mat-icon> Dashboard</a>
    </li>
    <hr>
    <li class="nav-item">
      <a routerLink="" mat-menu mat-menu-item color="accent"><mat-icon>person_add</mat-icon> Créer entreprise</a>
      <a routerLink="" mat-menu mat-menu-item><mat-icon>group_add</mat-icon> Créer communauté</a>
      <a routerLink="" mat-menu mat-menu-item><mat-icon>admin_panel_settings</mat-icon> Passer en mode admin</a>
    </li>
    
  </ul>
  <hr>

</div>

