  <div class="auth-container container">


    <div class="row">
        <div class="col-md-6 float-end"> 
   
            <h1 class="display-3"><mat-icon>password</mat-icon> Réinitialisation du Mode Passe</h1>
            <p class="text-center">Veuillez saisir votre adresse électronique pour demander une réinitialisation du mot de passe.</p>
                <div class="form-floating mb-3">
                    <input #passwordResetEmail  type="email" class="form-control" id="floatingInput" placeholder="Addresse Email" required> 
                    <label  for="floatingInput"> <mat-icon color="primary">markunread</mat-icon> <span> Addresse Email</span> </label>
                </div>
                
                <a type="submit" mat-button mat-raised-button color="primary" style="margin-top: 5%; margin-bottom: 5%;" (click)="authService.ForgortPassword(passwordResetEmail.value)">Réinitialiser</a>
            <div class="row">
                <div style="margin-top: 2%; margin-bottom: 2%;" class="lienHypertexte col-md-6">
                    <span routerLink="/connexion">Se connecter ?</span>
                </div>
            



        </div>

    </div>

    <div class="col-md-6">
        <img src="../../../assets/undraw-illustration/warning.svg" height="100%" width="95%" style="background-size: cover;">

    </div>
</div>