<app-navigation></app-navigation>

<div class="row">
    <!-- barre latérale gauche -->
    <div class="col-md-3"></div>
    <div class="col-md-6 container">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Nom</mat-card-title>
                <mat-card-subtitle>Profession</mat-card-subtitle>
                <mat-card-actions > <!--align="start"-->
                    <button mat-button >Editder </button> <!--(click)="onAction1" -->
                   
               </mat-card-actions>
            </mat-card-header>
            <img src="../../assets/undraw-illustration/profile_picture.png" width="150" height="auto">
            <mat-card-content>
                <mat-tab-group mat-align-tabs="start">
                    <mat-tab label="Acceuil">Produit</mat-tab>
                    <mat-tab label="Entreprise">A Propos</mat-tab>
                    <mat-tab label="Communauté">Content 3</mat-tab>
                    <mat-tab label="Produits / Service">Produits / Service</mat-tab>

                </mat-tab-group>
            </mat-card-content>

            <mat-card-footer>
                Domaine
            </mat-card-footer>
        </mat-card>

    </div>
    <!-- barre latérale droit -->
    <div class="col-md-3">

    </div>
</div>

