<!-- <app-navigation></app-navigation> -->
<div class="container">
<hr>
<h5>Porfiles</h5>
<a routerLink="/dashboard" class="text-right"><mat-icon class="mat-18">home</mat-icon> </a>
<hr>
</div>

<div class="list row ">
    <div class="list  ">
        <div class=" container text-center">
          <ul class="list-group">
            <li  style="margin-top: 10px;"
              class="list-group-item"
              *ngFor="let profile of profiles; let i = index"
              [class.active]="i == currentIndex"
              (click)="setActiveProfile(profile, i)"
            >
            
              
              <img src="{{(profile.user.photoURL)?profile.user.photoURL:'../../assets/undraw-illustration/profile_picture.png'}}" class="rounded-circle mb-3" style="width: 150px; height: 150px; border: solid 4px blueviolet;"
  alt="Avatar" />

<h5 class="mb-2"><strong>{{ profile.user.displayName?profile.user.displayName:"Inconnu" }}</strong></h5>
<p class="text-muted">{{ profile.user.email}} <br> <span class="badge bg-primary" *ngIf=" profile.role.adherent">Adhérent</span></p>
 <a mat-button mat-raised-button color="warning" *ngIf="i == currentIndex"  [routerLink]="'/details-profile/'+profile.id">Details</a> 

</li>
          </ul> 

          
        </div>

      </div>
  </div>

