<!-- Menu -->
<app-navigation></app-navigation>
<div class="row">
  <!-- barre latérale gauche -->
  <div class="col-md-3"><app-barre-lateral></app-barre-lateral></div>
  <!-- Contenu principale -->
  <div class="col-md-6">
<!--..............................................................................Ajouter un post................................................................;;-->
    <div class="addPost">

    </div>

<!--..............................................................................Publier un post................................................................;;-->
<app-entreprise></app-entreprise>
<app-profile></app-profile>
  </div>
   <!-- barre latéral droit  "-->
  <div class="col-md-3">
    <app-barre-droite></app-barre-droite>
  </div>
</div>














