<!--suppress ALL -->
<header class="navbar-static-top">
  <mat-toolbar color="primary" class="Navigation">
    <div>
      <span class="logo">Communauté PME </span>

    </div>

    <div class="MenuPrincipale" id="idMenuPrincipale">
    <span class="Menu">
      <a  class="Item-MenuPrincipale" mat-icon-button color="accent">
         <mat-icon>home</mat-icon><span class="Text-MenuPrincipale" >Acceuil</span>
      </a>
    </span>
      <span  class="Menu">
      <a mat-icon-button color="accent" class="Item-MenuPrincipale">
         <mat-icon class="lien">group</mat-icon> <span class="Text-MenuPrincipale">Communautés</span>
      </a>
    </span>
      <span class="Menu">
      <a mat-icon-button color="accent" class="Item-MenuPrincipale ">
         <mat-icon>business_center</mat-icon> <span class="Text-MenuPrincipale">Entreprises</span>
      </a>
    </span>
      <span class="Menu">
      <a routerLink="/profile" mat-button  mat-icon-button color="accent" class="Item-MenuPrincipale ">
         <mat-icon>account_circle</mat-icon> <span class="Text-MenuPrincipale">Profile</span>
      </a>
    </span>
    </div>
  </mat-toolbar>
</header>



