.MenuPrincipale{
  display: inline;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 10%;

}
.Menu{
  margin-left: 2%;
  margin-right: 2%;
}

.logo{
  font-size: large;
  font-weight: 500;
}

.avatar li a {
  color: black;
}

@media screen and (max-width: 1200px) {
  div.avatar .content, div.avatar mat-icon{
    font-size: x-small;
     
  }
  .MenuPrincipale{
    margin-left: 2%;
    margin-right: 7%;
  }
 

  .Menu{
    margin-left: 2%;
    margin-right: 5%;
  }
  .avatar ul{
    font-size: small;
    width: 30px;
  }

}
@media screen and (max-width: 800px) {
  .MenuPrincipale{
    margin-left: 1%;
    margin-right: 1%;
  }
  .logo{
    display: none;
  }

  .Menu{
    margin-left: 1%;
    margin-right: 5%;
  }
  .avatar ul{
    font-size: small;
    width: 30px;
  }

}