<div id="langing-page">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <div class="mb-auto">

        </div>
      
        <main class="px-3">
            <h1 class="text-black-70">Communauté de PME</h1>
            <h3 class="text-black-50">Plateforme Web Pour la Communauté des PME</h3>
            <img class="container" style="filter: contrast(80%);" src="../../assets/undraw-illustration/connection.svg" width="20%" height="auto">
            
        </main>

        <a routerLink="/connexion" routerLinkActive="active" mat-button mat-raised-button color="primary">Connexion</a>
      
        <footer class="mt-auto text-black-70 text-center">
          <p>@copyright - 2022, projet pfa <a href="https://github.com/lmlouis/pfa" class=" lienHypertexte">github</a>, by <a href="http://www.linkedin.com/in/lmlouis" class="lienHypertexte">@lmlouis</a>.</p>
        </footer>
      </div>
</div>

  
