
<div id="langing-page">
    <div class="page-wrap d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <span class="display-1 d-block" color="accent">404</span>
                    <div class="display-3 lead">La page que vous recherchez est introuvable !</div>
                    <a routerLink="/acceuil" class="btn btn-link">Retour</a>
                </div>
            </div>
        </div>
    </div>    
</div>
